anyio==3.3.4
boto3==1.19.7
botocore==1.22.7
certifi==2021.10.8
charset-normalizer==2.0.7
contextlib2==21.6.0
contextvars==2.4
dataclasses==0.8
fastapi==0.70.0
ffmpeg-python==0.2.0
future==0.18.2
idna==3.3
immutables==0.16
jmespath==0.10.0
pydantic==1.8.2
python-dateutil==2.8.2
requests==2.26.0
s3transfer==0.5.0
six==1.16.0
sniffio==1.2.0
starlette==0.16.0
typing-extensions==3.10.0.2
urllib3==1.26.7
tensorflow==2.5
tensorflow==2.5
keras==2.4.3
mtcnn
opencv-python
pillow
keras_applications
keras_vggface

vosk
pymystem3